
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;  
    
}

::-webkit-scrollbar{
    width: 6px;
    border-radius: 3px;

}

::-webkit-scrollbar-thumb{
    background: #000000
}

body{
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}


.logo{
    display: flex;
    position: relative;
    right: 15%;
    gap: 1rem;
}

.logo h2{
color: #000;
font-size: 30px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 30px 70px;
   
}

.navbar ul{
    display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navbar li{
list-style: none;
color: #000;
font-size: 17px;
font-family: 'Inter', sans-serif;
font-style: normal;
justify-content: right;
font-weight: 500;
line-height: normal;
transition: all 0.3s ease;
}

.socialmidia a{
    color: #000;
    width: 100%;
    transition: all 0.3s;
}

.socialmidia a:hover{
    height: 35px;
    color: #909090;
}

.navbar li:hover{
    border: 1px solid #000;
}

.hello{
    text-align: left;
    margin: 130px 150px;
}

.hello p{
    color: #909090;
font-size: 20px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.text-primary{
    width: 100%;
    margin-left: 7%;
    margin-top: -7%;
    
}
.text-primary h1{
color: #000;
font-size: 124px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
line-height: normal;
text-shadow:#000;
}

.button-home  button{
    position: relative;
    height: 65px;
    width: 210px;
    margin: 0 40px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background: #0d0d0d;
    color: #fff;
    overflow: hidden;
    transition: 0.6s;
    left: 5%;
    margin-top: 3%;
}

.button-home button:hover{
    color: #000;
    background-color: #9e9e9e;
}

.img-right img{
    width: 20%;
    position: relative;
    left: 70%;
    margin-top: -10%;
}

.socialmidia{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
}

.title h3{
color: #000;
margin-left: 7%;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    left: 4%;
}

.main-text p{
    color: #000;
font-size: 30px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 140.523%;
margin: 3rem;
}

.main-text img{
width: 510px;
height: 500px;
flex-shrink: 0;
margin-right: 7%;
}

.linguagens{
    display: flex;
    width: 100%;
    color: #000;
    gap: 3rem;
    margin-left: 7%;
}


.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #383838;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #363636;
    color: #e7e7e7;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #353535;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #000000;
    border: 2px solid #000000;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(./img/Pinnacle.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(./img/To\ do\ list.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(./img/Data\ Science\ Page.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #353535;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #363636;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}

.text-footer{
    display: flex;
    margin-left: 5%;
}

#Minimalismo h2{
    position: relative;
    margin-left: 30%;
}
.socialmidia2 a{
    color: #000;
    width: 100%;
    margin: 1rem;
    position: relative;
    left: 5%;
    transition: all 0.3s;
}

.socialmidia2 a:hover{
    height: 50px;
    color: #909090;
}

.contact {
    position: relative;
    margin-top: -14%;
    margin-left: 5%;
}

@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #000000;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}

.text-footer{
    display: flex;
    margin-top: 10%;
}

.text-footer h1{
    font-size: 11rem;
    margin-top: 14%;
}

#Minimalismo{
    position: relative;
    right: 8%;
    font-size: 16px;
    
}

.img-footer{
    display: flex;
    position: relative;
    left: 70%;
    
}
.img-footer img{
    width: 15%;
    margin-top: -10;
}


@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    .navbar{
        width: 60%;
    }

    .container-main{
        width: 100%;
    }

    .linguagens{
        width: 100%;
        position: relative;
        left: 40%;
    }

    .projetos-container{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
       grid-template-columns: 1fr;
    }

    .navbar{
        width: 50%;
        flex-direction: column;
        
    }

    .navbar li{
        font-size: 13px;
        
    }

    .logo{
        margin-bottom: 17%;
    }

    .logo h2{
       font-size: 21px;
    }

    .logo h4{
      margin-top: 3%;
    }
    .container-h1 h1{
        width: 100%;
        font-size: 70px;
    }

    .socialmidia{
        width: 100%;
        position: relative;
        right: 30%;
    }

    .container-main{
        width: 100%;
        
    }

    .title h3{
        position: relative;
        left: 5%;
        font-size: 15px;
    }

    .main-text p{
        font-size: 16px;
        position: relative;
        right: 5%;
    }

    .main-text img{
        margin-top: 3rem;
        width: 300px;
        height: 300px;
        position: relative;
        right: 12%;
    }

    .linguagens{
        width: 100%;
        position: relative;
        left: 7%;
    }

    .projetos-container{
        width: 20%;
    }

    .text-projetos h2{
        font-size: 46px;
        position: relative;
        
    }

    .img-projetos h3{
        position: relative;
       
    }

    .img-projetos img{
        width: 360px;
        height: 200px;
        position: relative;
        left: 4%;
    }

    .container-footer{
        width: 100%;
    }

    .text-footer h1{
        width: 100%;
        font-size: 70px;
    }

    .socialmidia{
        width: 100%;
    }
}